<web-app>
    <servlet>
        <servlet-name>formGetParameterMap</servlet-name>
        <servlet-class>FormGetParameterMap</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>formGetParameterMap</servlet-name>
        <url-pattern>/FormGetParameterMap.htm</url-pattern>
    </servlet-mapping>
</web-app>