<web-app>
    <servlet>
        <servlet-name>formGetParameterNames</servlet-name>
        <servlet-class>FormGetParameterNames</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>formGetParameterNames</servlet-name>
        <url-pattern>/FormGetParameterNames.htm</url-pattern>
    </servlet-mapping>
</web-app>